@import "Styles/general.scss";

.header {
  margin: 0;
  padding: 15px 0;
  background-color: $black;

  &__wrapper {
    max-width: 1216px;
    width: 100%;
    margin: 0;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
